@model IEnumerable<dynamic>

<h2>Управление тегами</h2>

@foreach(var tag in Model)
{
    <div>
        <p>@tag.Id</p>
        <p>@tag.Name</p>
        <p>@tag.TotalUsage</p>
        <p>@tag.IsConfirmed</p>
        <a asp-controller="Admin" 
        asp-action="Confirm">Подтвердить</a>
    </div>
}